.body-image {
  background-image: url("https://images.pexels.com/photos/4577838/pexels-photo-4577838.jpeg?auto=compress&cs=tinysrgb&w=400");
  background-repeat: no-repeat, no-repeat;
  background-position: right, left, top, bottom;
  background-attachment: fixed;
  height: 900px;
  width: auto;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-size: cover;
  position: relative;
}
.container {
  display: block;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  margin: 40px;
}
.input {
  padding: 25px auto 0px;
  width: 80%;
  height: 40px;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 6px;
  color: black;
  font-size: 16px;
}
.submit {
  padding: 15px;
  width: 80%;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 6px;
  color: black;
}
.input:focus {
  outline: off;
}

.weather-data {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city {
  font-size: 30px;
  font-weight: 200;
}
.date {
  font-size: 30px;
  font-weight: 200;
}
.temp {
  font-size: 90px;
  padding: 10;
  border: 1px solid lightgray;
  border-radius: 12px;
}
.weather {
  font-size: 30px;
  font-weight: 200;
}
.humidity {
  font-size: 30px;
  font-weight: 200;
}

button {
  padding: 15px;
  width: 80%;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 6px;
  color: black;
  font-size: 16px;
}

.error-message {
  padding: 10px;
  color: brown;
  font-size: 16px;
}
